<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="imu_sensor" params="parent name:=imu xyz:='0 0 0' rpy:='0 0 0'">

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <origin xyz="${xyz}" rpy="${rpy}"/>
    </joint>

    <link name="${name}_link">
      <visual>
        <geometry>
          <box size="0.02 0.02 0.01"/>
        </geometry>
        <material name="red">
          <color rgba="0.8 0.1 0.1 1"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <box size="0.02 0.02 0.01"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.05"/>
        <inertia ixx="0.00001" ixy="0" ixz="0" iyy="0.00001" iyz="0" izz="0.00001"/>
      </inertial>
    </link>

    <gazebo reference="${name}_link">
      <sensor name="${name}" type="imu">
        <pose>0 0 0 0 0 0</pose>
        <topic>${name}</topic>
        <gz_frame_id>${name}_link</gz_frame_id>
        <update_rate>100</update_rate>
        <always_on>true</always_on>
        <visualize>false</visualize>
        <imu>
          <angular_velocity>
            <x><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></x>
            <y><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></y>
            <z><noise type="gaussian"><mean>0.0</mean><stddev>0.0002</stddev></noise></z>
          </angular_velocity>
          <linear_acceleration>
            <x><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></x>
            <y><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></y>
            <z><noise type="gaussian"><mean>0.0</mean><stddev>0.017</stddev></noise></z>
          </linear_acceleration>
        </imu>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
